{:source-paths ["src"]
 :dependencies [[binaryage/devtools "1.0.6"]
                [nrepl "1.0.0"]
                [cider/cider-nrepl "0.28.7"]
                [reagent "1.1.1"]]
 :builds       {:app {:target     :browser
                      :output-dir "public/js"
                      :asset-path "/js"
                      :modules    {:app {:entries [yahtzure.core]}}
                      :devtools   {:after-load yahtzure.core/mount-root}}}

 :dev-http     {3000 {:root "public"}}}
